<?xml version="1.0" encoding="UTF-8" ?>
<!--表单设计-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luochao.dao.DataDao">

<!--    查询疫情数据-->
    <select id="selectData" resultType="com.luochao.entity.Covid19_Data">
        select id,name,local_confirm_add,nowConfirm,confirm,dead from covid19_data limit #{PageIndex} , 5;
    </select>
    <!--    查询疫情数据-->
    <select id="selectList" resultType="com.luochao.entity.Covid19_Data">
        select id,name,local_confirm_add,nowConfirm,confirm,dead from covid19_data;
    </select>


<!--    插入疫情数据-->
    <insert id="insertData" parameterType="com.luochao.entity.Covid19_Data">
        insert into covid19_data values(#{id},#{name},#{local_confirm_add},#{nowConfirm},#{confirm},#{dead});
    </insert>
<!--    删除所有疫情数据-->
    <delete id="deleteAll">
        delete from covid19_data;
    </delete>
</mapper>
